<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>扫码入库</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/easyui/themes/icon.css"/>  
    <link rel="stylesheet" type="text/css" href="/css/easyui/themes/gray/easyui.css">  
    <link rel="stylesheet" type="text/css" href="/css/easyui/themes/default/easyui.css">  
    <script type="text/javascript" src="/js/easyui/jquery.min.js"></script>  
    <script type="text/javascript" src="/js/easyui/jquery.easyui.min.js"></script>  
    <script type="text/javascript" src="/js/easyui/easyui-lang-zh_CN.js"></script>  
    <script type="text/javascript" src="/store/smokeBox.js"></script>  
    <script type="text/javascript">
    $.extend($.fn.validatebox.defaults.rules, {
    	maxLength: {
            validator: function(value, param){
                return value.length <= param[0];
            },
            message: '只能输入{0}位字符 .'
        }
    });
    $.fn.validatebox.defaults.rules.remote.message = "扫码数据格式出错：(91)6位烟编号+7位+6位日期+10位其他";
    
    
    	$(function(){
    		
    		$("#p").panel({
    		    fit: true,
    		    title:'扫码录入'
    		    //,
/*     		    tools:[{
    		        iconCls:'icon-edit',
    		        handler:function(){alert('new')}
    		    }] */
    		});
    		
     		$('#btn').linkbutton({
    		    iconCls: 'icon-save'
    		});
     	    $('#btn').bind('click', function(){
     	    	save();
     	    });
     	    
     		$('#area').combobox({
     			width: 250,
     		    url:'/store/queryarea',
     		    valueField:'area',
     		    textField:'area',
     		   	onSelect: function(record){
	     		   	$('#areaId').combobox({
	         		    url:'/store/queryareaId?area='+ record.area,
	         		    valueField:'areaId',
	         		    textField:'areaId'
	         		});
     		   	}
     		});
     		$('#areaId').combobox({
     			width: 250
     		});
     		
     		$('#tray').textbox({
     			required: true,
     			validType: 'maxLength[40]',
     			width: 250
     		});
     		$('#saoma').textbox({
     			required: true,
     			validType: "remote['/store/checkSaoma','saoma']",
     			width: 250
     		});
     		$('#smokeNumber').numberbox({
     			width: 250,
     			min: 0,
     			max:34
     		});
     		
     		
     		$('#form').form({
     		    url: '/store/save',
     		    success:function(data){
    		    	if(data){
    		    		var json = $.parseJSON(data);
    		    		console.log(json);
    		    		if(true == json.flag){
    		    			$.messager.alert({
    		    				title: '提示信息',
    		    				msg: '保存成功!',
    		    				fn: function(){
    		    					location.reload();
    		    				}
    		    			});
    		    			
    		    			//window.location.href= "/index";
    		    		}else{
    		    			$.messager.alert('提示信息','保存失败！'+json.msg,'error');
    		    		}
    		    	}else{
    		    		$.messager.alert('提示信息','保存失败！','error');
    		    	}
     		    },
     		});
    	});
    	function save(){
    		console.log($("#form").serialize());
    		$('#form').submit();
/*         	$.ajax({
        		url:'/store/save',
        		data: $("#form").serialize(),
        		success: function(data){
        			console.log(data);
       				if(data && data.userName){
       				}else{
       					
       				}
       	      	},
       	     	error: function(xmlrequest,error){
       	     		
       	     	} 
        	}); */
    	}
    </script>
</head>
<body>
	<div id="p">
		<form id="form">
	    	<table cellspacing="0" cellpadding="0" style="width:100%;height:40px;border: none;">
	    		<tr style="margin-top: 5px">
	    			<td class="formLabe" style="width:25%;text-align: right;padding-right: 15px;">区域</td>
	    			<td style="width:25%;padding-top: 5px;"><input id="area" name="area"></td>
	    			<td style="width:25%;padding-top: 5px;"></td>
	    			<td style="width:25%;"></td>
	    		</tr>
	    		<tr style="margin-top: 5px">
	    			<td class="formLabe" style="width:25%;text-align: right;padding-right: 15px;">货号</td>
	    			<td style="width:25%;padding-top: 5px;"><input id="areaId" name="areaId"></td>
	    			<td style="width:25%;padding-top: 5px;"></td>
	    			<td style="width:25%;"></td>
	    		</tr>
	    		<tr style="margin-top: 5px">
	    			<td class="formLabe" style="width:25%;text-align: right;padding-right: 15px;">扫码获取</td>
	    			<td style="width:25%;padding-top: 5px;"><input id="saoma" name="saoma" type="text"></td>
	    			<td style="width:25%;"></td>
	    			<td style="width:25%;"></td>
	    		</tr>
	    		<tr style="margin-top: 5px">
	    			<td class="formLabe" style="width:25%;text-align: right;padding-right: 15px;">托盘条码</td>
	    			<td style="width:25%;padding-top: 5px;"><input id="tray" name="tray" type="text"></td>
	    			<td style="width:25%;"></td>
	    			<td style="width:25%;"></td>
	    		</tr>
	    		<tr style="margin-top: 5px">
	    			<td class="formLabe" style="width:25%;text-align: right;padding-right: 15px;">数量</td>
	    			<td style="width:25%;padding-top: 5px;"><input id="smokeNumber" name="smokeNumber" type="text" value="34"></td>
	    			<td style="width:25%;"></td>
	    			<td style="width:25%;"></td>
	    		</tr>
	    		<tr style="margin-top: 5px">
	    			<td style="width:25%;"></td>
	    			<td class="formLabe" style="width:25%;text-align: center;padding-top: 10px"><a id="btn" href="#">保存</a></td>
	    			<td style="width:25%;padding-top: 5px;"></td>
	    			<td style="width:25%;"></td>
	    		</tr>
	    	</table>
		</form>

	</div>
</body>
</html>