<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>区域明细</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/easyui/themes/icon.css"/>  
    <link rel="stylesheet" type="text/css" href="/css/easyui/themes/gray/easyui.css">  
    <link rel="stylesheet" type="text/css" href="/css/easyui/themes/default/easyui.css">  
    <script type="text/javascript" src="/js/easyui/jquery.min.js"></script>  
    <script type="text/javascript" src="/js/easyui/jquery.easyui.min.js"></script>  
    <script type="text/javascript" src="/js/easyui/easyui-lang-zh_CN.js"></script>  
    <script type="text/javascript" src="/store/smokeBox.js"></script>  
    <script type="text/javascript">
    	$(function(){
    		
     		$('#btn').linkbutton({
    		    iconCls: 'icon-search'
    		});
     	    $('#btn').bind('click', function(){
     	    	query();
     	    });
     		$('#area').combobox({
     		    url:'/store/queryarea',
     		    valueField:'area',
     		    textField:'area'
     		});
     		
    	});
    	
    	function query(){
    		console.log('query');
    	}
    </script>
<style type="text/css">
.formLabe {
	height: 30px;
	text-align: right;
	padding-right: 5px;
}

	
</style>
</head>
<body>
<div class="easyui-layout"  fit="true">
    <div data-options="region:'north',split:true" style="height:62px;">
    	<form id="form" action="/#">
	    	<table cellspacing="0" cellpadding="0" style="width:100%;height:40px;border: none;">
	    		<tr style="margin-top: 5px">
	    			<td class="formLabe" style="width:10%;">区域</td>
	    			<td style="width:10%;padding-top: 5px;"><input id="area" name="area"></td>
	    			<td style="width:10%;padding-top: 5px;"><a id="btn" href="#">查询</a></td>
	    		</tr>
	    	</table>
    	</form>
    </div>
    <div data-options="region:'center'" style="background:#eee;">
    			
		<table id="table" cellspacing="5" cellpadding="5" style="width:100%;border: none;">
			<tr style="height:40px;">
				<td style="background-color: red;height:20px;width:40px" title="提示信息" class="easyui-tooltip">1-11</td>
				<td style="background-color: yellow;height:20px;"title="This is the tooltip message." class="easyui-tooltip"></td>
				<td style="background-color: yellow;height:20px;"></td>
				<td style="background-color: yellow;height:20px;"></td>
				<td style="background-color: yellow;height:20px;"></td>
				<td style="background-color: yellow;height:20px;"></td>
				<td style="background-color: yellow;height:20px;"></td>
				<td style="background-color: yellow;height:20px;"></td>
				<td style="background-color: yellow;height:20px;"></td>
				<td style="background-color: yellow;height:20px;"></td>
				<td style="background-color: yellow;height:20px;"></td>
			</tr>
		</table>
    </div>
</div>

</body>
</html>