<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>区域明细</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/easyui/themes/icon.css"/>  
    <link rel="stylesheet" type="text/css" href="/css/easyui/themes/gray/easyui.css">  
    <link rel="stylesheet" type="text/css" href="/css/easyui/themes/default/easyui.css">  
    <script type="text/javascript" src="/js/easyui/jquery.min.js"></script>  
    <script type="text/javascript" src="/js/easyui/jquery.easyui.min.js"></script>  
    <script type="text/javascript" src="/js/easyui/easyui-lang-zh_CN.js"></script>  
    <script type="text/javascript" src="/store/smokeBox.js"></script>  
    <script type="text/javascript">
    var checkUuid ="";
    	$(function(){
    		
     		$('#btn').linkbutton({
    		    iconCls: 'icon-search'
    		});
     	    $('#btn').bind('click', function(){
     	    	query();
     	    });
     		$('#modify').linkbutton({
    		    iconCls: 'icon-edit'
    		});
     	    $('#modify').bind('click', function(){
     	    	var checks = $(":checkbox:checked");
     	    	if(checks.length == 1){
     	    		if(checks[0].value == 'null'){
     	    			$.messager.alert('提示信息','只能选择非空的区域进行编辑','info');
     	    		}else{
     	    			checkUuid = checks[0].value;
     	    			$('#win').window({
     	    				content: createFrame('/store/modify?uuid='+checkUuid)
     	    			});
						$('#win').window('open',true);
     	    		}
     	    	}else{
     	    		$.messager.alert('提示信息','请选择一个进行编辑','info');
     	    	}
     	    });
     		$('#area').combobox({
     		    url:'/store/queryarea',
     		    valueField:'area',
     		    textField:'area'
     		});
     		$('#win').window({
     			title: '修改区域明细',
     		    width:600,
     		    height:400,
     		   	collapsible: false,
     		   	maximizable: false,
     		  	minimizable: false,
     		  	collapsible: false,
     		    modal:true,
     		   	closed: true
     		});
    	});
    	
    	function windClose(){
    		$('#win').window('close');
    		query();
    	}
    	
    	function query(){
        	$.ajax({
        		url:'/store/queryData',
        		data: $('#form').serialize(),
        		success: function(data){
        			if(data && data.length){
        				var length = data.length;
        				var rows = Math.ceil(length/10); //除以10，向上取整，得到有多少行
        				$('#table').html("");
        				var trHtml = "";
        				for(var i=0;i<rows;i++){
        					//先拼每行的数据
        					var tdHtml = "";
        					for(var j=0;j<10;j++){
        						var storeData = data[i*10+j];
        						tdHtml = tdHtml + createTdHtml(storeData);
        					}
        					
        					//再把每行的数据放入到table中
        					trHtml = trHtml+'<tr style="height:40px;" id="aa'+i+'">'+tdHtml+'</tr>';
        				}
        				$('#table').append(trHtml);
        			}else{
        				$.messager.alert('提示信息','获取信息出错','info');
        			}
       	      	},
       	     	error: function(XMLHttpRequest , errorMsg , e){
       	     		$.messager.alert('提示信息','获取信息出错','info');
       	     	} 
        	});    		
    	}
    	
    	function createTdHtml(storeData){
    		var color = '#66ff99';//默认绿色
    		if(storeData.smokeNumber){
    			if(storeData.smokeNumber>=34){//红色
    				color = '#CC5233';
    			}else if(storeData.smokeNumber<=34 && storeData.smokeNumber>0){
    				color = '#FFF68F';//黄色
    			}
    		}
    		var vHtml = "";
    		var title = "";
    		if(color == '#66ff99'){//绿色
    			vHtml = storeData.area +"-"+storeData.areaId;
    		}else{
    			vHtml = storeData.area +"-"+storeData.areaId;
    			title = title +"品牌      ：" + storeData.smokeName +"\n";
    			title = title +"数量      ：" + storeData.smokeNumber +"\n";
    			title = title +"托盘号   ：" + storeData.tray +"\n";
    			title = title +"生产时间：" + storeData.createDate +"\n";
    			title = title +"入库时间：" + storeData.storeTime +"\n";
    		}
    		
    		var titleHtml = "";
    		if(title==""){
    		}else{
    			titleHtml = 'title="'+title+'" class="easyui-tooltip"';
    		}
    		return '<td style="background-color: '+color+';height:20px;width:40px;" '+titleHtml+'><input name="selectStore" type="checkbox" value="'+storeData.uuid+'">'+vHtml+'</td>';
    	}
        function createFrame(url) {
     		var s = '<iframe src="'+url+'" scrolling="auto" frameborder="0" allowtransparency="true" style="width:100%;height:100%;background-color: #f2f2f2;"></iframe>';
     		return s;
     	}
    </script>
<style type="text/css">
.formLabe {
	height: 30px;
	text-align: right;
	padding-right: 5px;
}

	.panel-body {  
    overflow: hidden;  
    } 
</style>
</head>
<body>
<div class="easyui-layout"  fit="true">
    <div data-options="region:'north',split:true" style="height:62px;">
    	<form id="form" action="/#">
	    	<table cellspacing="0" cellpadding="0" style="width:100%;height:40px;border: none;">
	    		<tr style="margin-top: 5px">
	    			<td class="formLabe" style="width:10%;">区域</td>
	    			<td style="width:10%;padding-top: 5px;"><input id="area" name="area"></td>
	    			<td style="width:10%;padding-top: 5px;"><a id="btn" href="#">查询</a></td>
	    			<td style="width:10%;padding-top: 5px;"><a id="modify" href="#">编辑</a></td>
	    		</tr>
	    	</table>
    	</form>
    </div>
    <div data-options="region:'center'" style="background:#eee;">
    			
		<table id="table" cellspacing="5" cellpadding="5" style="width:100%;border: none;">
		</table>
    </div>
</div>

<div id="win"></div>

</body>
</html>