<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登录</title>
    <link rel="stylesheet" type="text/css" href="css/easyui/themes/icon.css"/>  
    <link rel="stylesheet" type="text/css" href="css/easyui/themes/gray/easyui.css">  
    <link rel="stylesheet" type="text/css" href="css/easyui/themes/default/easyui.css">  
    <script type="text/javascript" src="js/easyui/jquery.min.js"></script>  
    <script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>  
	<script type="text/javascript">
	$(function(){
		$('#w').window('open');
		
		$('#form').form({
		    url:"/login",
		    onSubmit: function(){
		        // do some check
		        // return false to prevent submit;
		    },
		    success:function(data){
		    	console.log(data);
		    	if(data){
		    		var json = $.parseJSON(data);
		    		if("true" == json.login_flag){
		    			window.location.href= "/index";
		    		}else{
		    			console.log(json);
		    		}
		    	}else{
		    		//？？异常
		    	}
		    }
		});
		
	});
	function dologin(){
		$('#form').submit();
	}
	
	</script>
</head>
<body>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div style="text-align:center">
	<h1><font>成品平库综合管理系统</font></h1>
</div>
<center>
<div id="w" class="easyui-window" title="登录" data-options="modal:false,closed:true,iconCls:'Lockgo',closable:false,minimizable:false,collapsible:false,maximizable:false,draggable:false" style="width:400px;padding:20px 70px 20px 70px;">  
    <form id="form" method="post">
    
    <div style="margin-bottom:10px">  
        <input class="easyui-textbox" id="username" name="username" style="width:100%;height:30px;padding:12px" data-options="prompt:'用户名',iconCls:'icon-man',iconWidth:38" value="000001">  
    </div>  
    <div style="margin-bottom:20px">  
        <input class="easyui-textbox" id="password" name="password" type="password" style="width:100%;height:30px;padding:12px" data-options="prompt:'登录密码',iconCls:'icon-lock',iconWidth:38" value="111111">  
    </div>  
    <div>  
        <a href="javascript:;" onclick="dologin()" class="easyui-linkbutton" style="padding:5px 0px;width:100%;">  
            <span style="font-size:14px;">登录</span>  
        </a>  
    </div>  
    </form>
</div>  
</center>

</body>
</html>