<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/easyui/themes/icon.css"/>  
    <link rel="stylesheet" type="text/css" href="css/easyui/themes/gray/easyui.css">  
    <link rel="stylesheet" type="text/css" href="css/easyui/themes/default/easyui.css">  
    <script type="text/javascript" src="js/easyui/jquery.min.js"></script>  
    <script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>  
</head>
<body onload="zz()">
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<p th:text="'Hello！, ' + ${name} + '!'" >3333</p>
</body>
</html>